.loginContainer {
  border-radius: 0.3em;
  margin-top: 5%;
  
  background-color: rgba(255, 255, 255, 0.75);
  object-fit: cover;
  padding: 2%;
}

.loginFont {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
}

.rowFields {
  margin-left: 2%;
  margin-right: 2%;
}

.rowButton {
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 5%;
}
.rowImage {
  margin: 2%;
  display: flex;
}

.imgLogin {
  position: relative;
  width: 30vw;
  height: 30vh;
  max-width: 100% !important;
  max-height: 100% !important;
}
.backgroundImageLogin {
  overflow: hidden;
  border-radius: 0.3em;
  background-image: linear-gradient(rgba(50,125,205,0.5), rgba(50,125,205,0.5)), url("../assets/new-zealand-police-background.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

}
