.loginBody{
  margin-top: 10vh;
  margin-left: 25%;
  width: 50%;
  height: 68%;
  background-color:rgba(20, 57, 77, 0.75);
  border-radius: 0.4em;
}
.loginMain{
  overflow: auto;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(50,125,205,0.5), rgba(50,125,205,0.5)), url("../assets/new-zealand-police-background.jpg");
  height: 100vh;
}
.loginHeader{
  text-align: center;
  font-size: 4em;
  color:#FBEFA2;
}
.loginFont{
    color:#FBEFA2;
  font-size: 2.5em;
}
.loginButton, .loginHeader, .loginFont{
  padding-top: 5vh;
}
