.loginContainer {
  border-radius: 0.3em;
  background-color: rgba(255, 255, 255, 0.75);
  object-fit: cover;
  padding: 2%;
  margin-left: 10%;
  margin-right:10%;
}

.loginFont {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
}

.rowFields {
  margin-left: 2%;
  margin-right: 2%;
}

.rowButton {
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 5%;
}

img.imgLogin {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 50%;
  height: 50%;
  display: block;
margin-left: auto;
margin-right: auto;
}
.backgroundImageLogin {
  overflow: hidden;
  border-radius: 0.3em;
  background-image: linear-gradient(rgba(50,125,205,0.5), rgba(50,125,205,0.5)), url("../assets/new-zealand-police-background.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

}
