.colStyle1{
  border-radius: 0.3em;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.75);
}
.colStyle2{
  border-radius: 0.3em;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.75);
  object-fit: cover;
}
